@import "../../scss/abstracts/variables.scss";

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__contentImage {
        &__personMobile {
            display: initial;
            width: 100vw;
        }
        &__personDesktop {
            display: none;
        }
    }

    &__contentText {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__title {
            width: 84vw;
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 36px;
            color: $Red;
            padding: 30px 0px 24px 0px;
        }

        &__subtitle {
            width: 86vw;
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 36px;
            color: $DarkGray;
            padding-bottom: 24px;
        }

        &__description {
            width: 84vw;
            font-family: $roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 28px;
            padding: 24px 0px 40px 0px;
        }
        &__contentButton {
            display: flex;
            width: 296px;
            justify-content: center;
        }
    }

    &__footer {
        width: 100vw;
        font-family: $roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 20px;
        display: flex;
        align-items: center;
        letter-spacing: 0.2px;
        padding: 20px 100px 20px 32px;
        border-top: 1px solid $BorderGray;
    }

    @media (min-width: 768px) {
      width: 100vw;
      position: absolute;
      top: 64px;
      flex-direction: row;

      &__contentImage {
        width: 55vh;
        background-color: $LightPurple;
        &__personMobile {
            display: none;   
        }
        &__personDesktop {
            display: initial;
            width: 36vw;
            height: calc(100vh - 67px);
        }
      }

      &__contentText {
        align-items: flex-start;
        position: absolute;
        width: initial;
        top: 20vh;
        left: 40vw;
        &__title {
            width: 25vw;
            font-size: 36px;
            line-height: 48px;
        }
        &__subtitle {
            width: 25vw;
            font-size: 36px;
            line-height: 48px;
        }

        &__description {
            width: 25vw;
            display: flex;
            flex-direction: column;
        }
        &__contentButton {
            width: 255px;
          }
      }

      &__footer {
         display: none;
      }
    }
}