@import "../../../scss/abstracts/variables.scss";

.content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 56px 0px;
    background-color: $LightPurple;
    &__title {
        width: 80vw;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -0.6px;  
    }
    &__subtitle {
        width: 80vw;
        font-family: $roboto;
        font-size: 16px;
        line-height: 28px;
        margin: 16px 0px 24px 0px;
    }
    &__card {
        width: 82vw;
        border-radius: 12px;
        border: 3px solid $BorderlightGray;
        background-color: $White;
        display: flex;
        padding: 0px 10px 0px 15px;
        gap: 20px;
        &__personCard {
          width: 28vw;
        }
        &__containerText {
            margin-top: 15px;
            &__textPlate {
                font-family: $roboto;
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 0.2px;
                padding: 6px;
                color: $LightGray; 
                @media (min-width: 768px) {
                    width: 12vw;
                }
            }
            &__contentSubText {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                margin-bottom: 16px;
                font-size: 16px;
                line-height: 24px;
                color: $DarkGray;
                padding: 6px;
                @media only screen and (min-width:768px) {
                    &__contentSubText {
                        width: 12vw;
                     }
                }
            }
            &__editText {
                font-weight: bold;
                font-size: 10px;
                line-height: 16px;
                letter-spacing: 0.8px;
                text-transform: uppercase;
                color: #6f7dff;
                padding: 6px;
                @media only screen and (min-width:768px){
                    width: 12vw;
                }
            }
        }

        &__imageContainer {
            display: initial;
            &__personCard {
                width: 28vw;
                @media only screen and (min-width:768px) {
                    width: 7vw;
                    top: 12vh;
                    left: 20vw;
                }
            }
        }
 
    }


    @media (min-width: 768px) {
      position: absolute;
      width: 28vw;
      top: 15vh;
      left: 35vw;
      background-color: $White;
      &__title {
        width: 23vw;
      }
      &__subtitle{
        width: 23vw;
      }
      &__card {
        width: 23vw;
        &__personCard {
          width: 7vw;
          top: 12vh;
          left: 20vw;
        }
      }
    }   
}