@import "../../../scss/abstracts/variables.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: $LighterPurple;

    &__title {
        font-size: 20px;
        line-height: 28px;
        color: $DarkGray;
        padding: 56px 0px 40px 0px;   
    }

    &__contentTab {
        display: flex;
        width: 100vw;
        gap: 8px;

        &__Tab {
            width: 33vw;
            background-color: inherit;
            outline: none;
            transition: 0.3s;
            border-bottom: 2px solid $White;
            color: $DarkGray;
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.8px;
            text-transform: uppercase;
          
            &:hover {
              color: $Red;
              border-bottom: 2px solid $Red;
            }
        }
    }

    @media (min-width: 768px) {
        position: absolute;
        width: 21vw;
        height: 100vh;
        top: 57vh;
        left: 38vw;
        background-color: initial;

        &__contentTab {
            position: absolute;
            top: 12vh;
            left: 0vw;
            width: initial;

            &__Tab {
                width: 7vw;
            }
        }
    }  
}