@import "../../../scss/abstracts/variables.scss";

.formCarData {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;  
    padding: 0px 15px;  
    &__textName{
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -0.6px;
        padding: 10px 0px;
    }

    &__nameRed {
        color: $Red;
    }

    &__textDesciption{
        font-family: $roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        padding: 5px 0px 32px 0px; 
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 97vw;
        margin: 0px;
        gap: 16px;
        padding: 5px 15px 5px 15px ;
        &__text {
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          letter-spacing: 0.2px;
          padding: 10vh 0vw 0vh 0vw;
          margin-right: 40vw;
        }
    }

    &__contentRadioButtons {
      width: 97vw;
      display: flex;
      margin-top: 2vh;
      padding: 2vh 12vw;
    
      input[type="radio"] + label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 30px;
        margin-right: 15px;
        font-size: 16px;
    
        &:before {
          content: "";
          display: block;
          width: 20px;
          height: 20px;
          margin-right: 14px;
          position: absolute;
          top: -3px;
          left: 0;
          border: 1px solid $Green;
          background-color: #fff;
          border-radius: 50%;
        }
      }
    
      input[type="radio"] {
        display: none !important;
        *display: inline;
    
        &:checked + label:after {
          content: "";
          display: block;
          position: absolute;
          top: 2px;
          left: 5px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: $Green;
        }
      }
    
    }

    &__contentSum {
      width: 97vw;
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 16px;
      line-height: 24px;
      padding: 20px 0px;
      &__sum {
        display: flex;
        gap:25px;
        flex-wrap: wrap;
        font-size: 12px;
        font-style: normal;
        font-weight: normal;
        line-height: 16px;
        padding: 4px 0px 16px 0px;
        color: $RegularGray;
      }

      &__contentInputNumber {
        width: 80vw;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid $StepColor;
        border-radius: 8px;
        font-size: 16px;
        line-height: 24px;
        span {
          color: $Purple;
        }

        &__contentInput {
          display: flex;
          align-items: center;
          &__inputNumber {
            display: none;  
            width: 40vw;
            height: 2vh;
          
            div {
              display: flex;
              align-items: center;
            }
            input {
              display: none;
            }
          }
      
        }
      }            
    }

    &__conteinerButton{
      display: flex;
      width: 80vw;
      justify-content: center;
    }

    @media (min-width: 768px) {
      grid-column-start: 5;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 4;
      width: 28vw;
      height: 80vh;
      padding: 0px 96px;
      &__content {
        width: 20vw;
        &__text{
          width: 10vw;
          padding: 0vh 0vw 0vh 0vw;
          margin-right: 0vw;
        }
      }

      &__contentRadioButtons {
        width: 20vw;
        margin-top: 2vh;
        gap: 36px;
        padding: 2vh 2vw;
      }

      &__contentSum {
        width: 20vw;
        &__sum {
          width: 20vw;
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 4px 0px 4px 0px;
          font-size: 12px;
        }

        &__contentInputNumber {
          width: 10vw;
          &__contentInput {
            gap:2px;
            width: 3vw;  
            height: 3vh;
            &__inputNumber {
              display: none;        
              input {
                width: 5vw;
              }
            }
          }
        
        }
      } 

      &__conteinerButton{
        align-items: flex-start;
        width: 10vw;

      }
    }

}

.line {
    display: none;
    width: 100vw;
    position: absolute;
    top: calc(136vh - 75px);
    left: 0vw;
    border: 1px solid $BorderGray;
    @media (min-width: 768px) {
      width: 20vw;
      top: 48vh;
      left: 37vw;
    }
 }

 .copyRight {
    width: 100vw;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 30;
    grid-row-end: 30;   
    padding: 30px 0px 30px 32px;
    display: flex;
    font-family: $roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    border-top: 1px solid $BorderGray;
    @media (min-width: 768px) {
      top: 92vh;
      left: 14vw;
      display: none;
    }
 }

 .contentRight {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 7;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    padding: 10px 40px;

    &__label {
        display: none;
        text-transform: uppercase;
        @media (min-width: 768px) {
          display: initial;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.6px;
        }
    }


    &__helpButton {
        border: none;
        width: 80vw;
        display: flex;
        align-items: center;
        gap: 19px;
        border-radius: 8px;
        background-color: $LightPurple;
        padding: 16px 16px 20px 19px;
        cursor: pointer;
     

        &__textHelpButton  {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
        }
        
        &__textHelpButtonColor {
            color: $Purple;
        }
      

        @media (min-width: 768px) { 
          border-top: 1px solid $LightPurple;
          border-radius: initial;
          background-color: initial;
          flex-direction: row-reverse;
          width: 10vw;         
          padding: 0px 0px;


          &__textHelpButton {
            text-align: left;
            
          }
          
          &__textHelpButtonColor {
            color: $Purple;
          }
        }        
      }
    @media (min-width: 768px) {
      grid-column-start: 6;
      grid-column-end: 6;
      grid-row-start: 4;
      grid-row-end: 5;
      &__label {
        display: none;
        text-transform: uppercase;
        display: initial;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.6px;
      }      
    }
 }