@import "../../scss/abstracts/variables.scss";

.header {
    border-bottom: 1px solid $BorderGray;
    display: flex;
    align-items: center;
    height: 56px;
    justify-content: space-between;
    @media only screen  and (min-width: 768px) {
        height: 64px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    &__containerLeft {
        margin-left: 9vw;
    }
    &__logo{
        margin: 2px;
    }
    &__containerRight {
        margin-right: 9vw;
        display: flex;
        align-items: center;
        gap: 2.4vw;
    }
    &__contentCuestion {
        color: $Gray;
        font-family: $roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        @media only screen  and (max-width: 768px) {
            display: none;
        }
    }
    &__phone {
        margin: 1px;
    }
    &__contentText {
        color: $Purple;
        font-family: $roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        @media only screen  and (max-width: 768px) {
          display: initial;
        }
    }
    &__contentPhone {
        color: $Purple;
        font-family: $roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        @media only screen  and (max-width: 768px) {
          display: none;
        }
      }
}

